name: Prettier Check

on:
  pull_request:
  workflow_dispatch:

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run Prettier check
        run: npx prettier --check "**/*.{html,css,js,json,md,yml,yaml}"
